body{
    background-color: rgb(85, 72, 72);  
    padding: 0;
    margin: 0;  
}

section{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size:2000px;
    display: none;
    overflow: hidden;
}

.opacityDiv{
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-color: black;
    
}

#preGameScreen{
    background-color: white;
}


#board{
    position: relative;
    margin: auto;
    
}

#boardScreen{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}


.displaying{
    display: block;
}

