body{
    background-color: rgb(129, 138, 144);  
    padding: 0;
    margin: 0;  
}

section{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#preGameScreen{
    background-color: white;
}


#board{
    position: relative;
    margin: auto;
    
}

#boardScreen{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}


.displaying{
    display: block;
}

