body{
    background-color: rgb(85, 72, 72);  
    padding: 0;
    margin: 0;  
}

section{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size:2000px;
    display: none;
    overflow: hidden;
    background-image: url(../art/backgroundTest1.jpg);
}

.opacityDiv{
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-color: black;
    -webkit-box-shadow: inset 0px 0px 500px 500px #000000; 
    box-shadow: inset 0px 0px 500px 500px #000000;
    
}

.borderDiv{
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
 
    -webkit-box-shadow: inset 0px 0px 200px 200px #00000081;
    box-shadow: inset 0px 0px 200px 200px #00000081;
    
}

#preGameScreen{
    background-color: white;
}


#board{
    position: relative;
    margin: auto;
    
}

#boardScreen{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}


.displaying{
    display: block;
}



/* game UI */



.progressBarContainer{
    position: absolute;
    margin: auto; 
    right: 100px;
    
    top:100px;
    height: 30px; width: 400px;
    z-index: 1;
}

#startCard{
    position: absolute;
    top:200px;
    left:50px;

    background-color:rgb(114, 91, 67); border-radius: 10px; border:3px solid #161414; padding:0 10px;
    
}

#planeCardHolder{
    position:absolute;  
    left:50px; 
    top:330px;
    max-width: 300px;
   

}

#startCard .cube{
    position: absolute;
    margin: -4px;
}

#planeCardHolder .planeCard{
    background-color:rgb(114, 91, 67); border-radius: 10px; border:3px solid #161414; padding:0 10px;
    display: inline-block;
    width: 215px;
    position:relative;  
    margin: 0 0 10px 0;
    
    display: inline-block;
}

.planeIcon{
    width:100px; 
    height: 100px;
    background-image:url('../../art/Plane1.svg');
    display: inline-block;
}

.takeOffIcon{
    width:100px; 
    height: 100px;
    background-image:url('../../art/takeOff.svg');
    display: inline-block;
}

.diceContainer{
    position: relative;
    display:inline-block; 
    border:4px solid #211f1f; 
    background-color: #696055;
    border-radius: 7px;
    margin:25px; 
    height: 50px; 
    width: 50px; 
  
}

#planeCardHolder .planeCard .cube{
    position: absolute;
    top:0;
    left:0;
    margin:-4px;

}

.diceContainer .addDie{
    position: absolute;
    font-weight: bolder;
    font-size: 4em;
    color:rgba(237, 233, 233);
    
    line-height: 50px;
    margin: 0 7px;
    display: none;
}

.diceContainer .addDie:hover{
    transform: scale(1.1)
}

/* The dice  https://codepen.io/SteveJRobertson/pen/zxEwrK?editors=1111 */



.cube {
    background: rgb(158, 44, 44);
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 4px solid #161414;
    
    transition: transform 0.1s cubic-bezier(0,1,1,1);
    margin: 0 10px;  
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    text-align: center;
    border-radius: 10px;
  }

#diceHolder .cube:hover{
    transform: scale(1.2);
}

#diceHolder .selected{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(237, 233, 233, 0.75);
    box-shadow: 0px 0px 5px 3px rgba(237, 233, 233, 0.75);
}

.dot {
    display: block;
    position: absolute;
    width: calc(0.5*24px);
    height: calc(0.5*24px);
    background: rgba(237, 233, 233);
    border-radius: 50%;  
  }
  
  .d1 .dot1 { top: calc(0.5*(50px - 12px)); left: calc(0.5*(50px - 12px)) }

  .d2 .dot1 { top: calc(0.5*(20px - 12px)); left: calc(0.5*(20px - 12px)) }
  .d2 .dot2 { top: calc(0.5*(80px - 12px)); left: calc(0.5*(80px - 12px)) }

  .d3 .dot1 { top: calc(0.5*(20px - 12px)); left: calc(0.5*(20px - 12px)) }
  .d3 .dot2 { top: calc(0.5*(50px - 12px)); left: calc(0.5*(50px - 12px)) }
  .d3 .dot3 { top: calc(0.5*(80px - 12px)); left: calc(0.5*(80px - 12px)) }
  
  .d4 .dot1 {  top: calc(0.5*(20px - 12px)); left: calc(0.5*(20px - 12px)) }
  .d4 .dot2 {  top: calc(0.5*(80px - 12px)); left: calc(0.5*(20px - 12px)) }
  .d4 .dot3 {  top: calc(0.5*(20px - 12px)); left: calc(0.5*(80px - 12px)) }
  .d4 .dot4 {  top: calc(0.5*(80px - 12px)); left: calc(0.5*(80px - 12px)) }

  .d5 .dot1 { top: calc(0.5*(20px - 12px)); left: calc(0.5*(20px - 12px)) }
  .d5 .dot2 { top: calc(0.5*(80px - 12px)); left: calc(0.5*(20px - 12px)) }
  .d5 .dot3 { top: calc(0.5*(50px - 12px));left:calc( 0.5*(50px - 12px)) }
  .d5 .dot4 { top: calc(0.5*(20px - 12px)); left: calc(0.5*(80px - 12px)) }
  .d5 .dot5 { top: calc(0.5*(80px - 12px)); left: calc(0.5*(80px - 12px)) }

  .d6 .dot1 { top: calc(0.5*(20px - 12px)); left: calc(0.5*(20px - 12px)) }
  .d6 .dot2 { top: calc(0.5*(20px - 12px)); left: calc(0.5*(50px - 12px)) }
  .d6 .dot3 { top: calc(0.5*(20px - 12px)); left: calc(0.5*(80px - 12px))}
  .d6 .dot4 { top: calc(0.5*(80px - 12px)); left: calc(0.5*(20px - 12px)) }
  .d6 .dot5 { top: calc(0.5*(80px - 12px)); left: calc(0.5*(50px - 12px)) }
  .d6 .dot6 { top: calc(0.5*(80px - 12px)); left: calc(0.5*(80px - 12px)) }
